*{
    font-family: 'Poppins';
}
.img-detailUser{
    width: 122px;
    height: 122px;
}

.txt-h1User{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 48px;

}

#card-detail{
    padding: 20px;
    font-family: 'Poppins';
    width: 655px;
    height: 276px;
    background-color: #333333;
    color: #fff;
    border-radius: 10px;
}

#card-detail h1 {
    padding-top: 30px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins';
}

.btn-seeDetail {
    padding: 10px;
    text-decoration: none;
    background-color: #FF6F61;
    width: 555px;
    height: 55px;
    color: #fff;
    border-radius: 10px;
}

#txt-login{
    font-weight: 600;
    font-size: 36px;
    font-family: 'Poppins';
    margin-top: 200px;
}

.txt-sign-In{
    color: #3A984B;
    text-decoration: none;
}


.detail-Profile {
    margin-top: 25px;
}
