#txt-showPorto h1 {
    margin-top: 40px;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Poppins';
}

.btn-loginCreate{
    padding: 5px;
    width: 217px;
    height: 44px;
    color: #fff;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    background-color: #333333;
}

.card-detail{
    background-color: #333333;
    color: #fff;
    width: 968px;
    height: 306px;
    border-radius: 23px;
    margin-top: 20px;
}

.card-detail h1{
    margin-left: 30px;
    padding-top: 30px;
}

.card-detail p {
    margin-left: 30px;
    margin-top: 20px;
}


.img-profile{
    margin-bottom: 20px;
}

.txt-profile{
    margin-right: 20px;
}

.txt-profile h1 {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
}
