.input-text{

    margin-left: 10px;
    width: 472px;
    height: 52px;
    border-radius: 5px;
    border: none;
}

.username-input p {
    font-weight: 700;
    font-size: 24px;

}


.input-profile img {
    padding-top: 10px;
    padding-left: 15px;
}

.password-input p {
    margin-top: 10px;
    font-weight: 700;
    font-size: 24px;

}

.btn-login {
    color: #007BFF;
    font-weight: 700;
    font-size: 32px;
    border-radius: 5px;
    border: none;
    width: 472px;
    height: 53px;
    margin-top: 15px;
    margin-left: 10px;
}


.signnn
{
    margin-top: 22px;
    font-size: 15px;
    font-weight: 400;
}
