input {
    border: none;
}


.txt-upload  h1 {
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 600;
    margin-top: 85px;
}


.input-upload {
    color: #fff;
    background-color: #333333;
    border-radius: 15px;
    width: 630px;
    height: 88px;
}

.txt-upload1 h1 {
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
}

.input-desc {
    border-radius: 15px;
    width: 630px;
    height: 538px;
    color: #fff;
    background-color: #333333;
}

.a-submit {
    padding: 10px;
    font-weight: 600;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Poppins';
    width: 346px;
    height: 101;
    border-radius: 15px;
    background-color: #FF6F61;
    color: #fff;
}


.a-Submitt{
    margin-top: 55px;
}
