

.txt-judul h1 {
    margin-top: 45px;
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 600;
}

.txt-judul h2{
    font-family: 'Poppins';
    font-size: 35px;
    font-weight: 600;
}

.card-detailProfile{
    margin-top: 55px;
    width: 1183px;
    height: 584px;
    background-color: #333333;
    border-radius: 15px;
}

.txt-p  {
    font-family: 'Poppins';
    font-size: 17px;
    margin-top: 55px;
}
