.btn-category{
    cursor: pointer;
    width: 172px;
    height: 44px;
    background-color: #333333;
    color: #ffff;
    font-family: 'Poppins';
    border: none;
    border-radius: 6px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-align: center;
}
